.notesCardMain{
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
.notesCardMainContainer{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.notesCardTitle{
    width: 100%;
    height: 20%;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    flex-direction: column;
    font-size: 25px;
    letter-spacing: 1px;
}
.notesCardDesc{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    overflow: hidden;
    font-weight: 400;
}
.tagButton{
    width: fit-content;
    padding: 3px 6px ;
    border: none;
    margin: 10px 0;
    background-color: aquamarine;
    color: black;
    border-radius: 12px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notesCardDescPara{
    word-break: break-all;
}