.MainNavbarContainer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainNavbar{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLogo{
    width: 10%;
    height: 90%;
    font-size: 25px;
}
.links{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}