.mainLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainLoginFormContainer{
    width: 30%;
    height: 50%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0, 0.5);
}
.mainLoginForm{
    width: 100%;
    height: 100%;
}